appdirs==1.4.4
attrs==21.2.0
beautifulsoup4==4.9.3
cached-property==1.5.2
certifi==2020.12.5
chardet==3.0.2
ciscoaxl==0.158
click==8.0.0
coverage==5.5
defusedxml==0.7.1
dlint==0.11.0
duo-client==4.3.1
flake8==3.9.2
Flask==2.0.0
gunicorn==20.1.0
idna==2.5
isodate==0.6.0
itsdangerous==2.0.0
Jinja2==3.0.0
lxml==4.6.3
MarkupSafe==2.0.0
mccabe==0.6.1
mock==4.0.3
nose2==0.10.0
O365==2.0.14
oauthlib==3.1.0
pycodestyle==2.7.0
pyflakes==2.3.1
pymongo==3.11.4
python-dateutil==2.8.1
pytz==2021.1
requests==2.22.0
requests-oauthlib==1.3.0
requests-toolbelt==0.9.1
six==1.12.0
soupsieve==2.2.1
stringcase==1.2.0
tzlocal==2.1
urllib3==1.23
Werkzeug==2.0.0
whitenoise==5.2.0
zeep==3.4.0
